<div class="seller-auth">
    <div class="signup">
        <h1>NOKIA User Sign-Up</h1>
    <div class="imagess">
        <form #sellersignup="ngForm"  (ngSubmit)="signUp(sellersignup.value)" class="common-form"  >
            <input class="form-input" type="text" ngModel name="name" placeholder="Enter Name">
            <input  class="form-input" type="password"  ngModel name="password" placeholder="Ente password">
            <input  class="form-input" type="text" ngModel name="email" placeholder="Enter Email">
            <button  class="form-button">SignUp</button>
        </form>
        </div>
    </div>
</div>